<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>요청 페이지</title>
</head>
<body>

<div>요청하는 사람
    <tr>
        <td th:text="${to.getName()}"></td>
    </tr>
</div>
<br>

<div>요청당하는 사람
    <tr>
        <td th:text="${from.getName()}"></td>
    </tr>
</div>
<br>

<form th:action="@{/request}" method="post">
    <input type="hidden" name="from_id"  th:value="${from.getId()}">
    <div>
        <span>요청 수정</span>
        <input type="text" name="price" placeholder="요청 금액">
        <input type="text" name="msg" placeholder="요청 매시지">
        <input type="date" name="return_day" placeholder="반환 날짜">
        <button type="submit">요청</button>
    </div>
</form>

</body>
</html>